body {
  background-color: #333; /* Dark gray background color */
  color: #fff; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center content vertically */
  margin: 0; /* Remove default body margin */
}

.center-content {
  text-align: center;
}

/* Define a CSS animation called "rotate-twice" */
@keyframes rotate-twice {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg); /* Two full rotations (360 degrees * 2) */
  }
}

/* Apply the animation to the image on hover */
.flag-icon:hover {
  animation: rotate-twice 1s ease-in-out; /* Adjust the duration as needed */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
  border-radius: 50%;
}

.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url(/img/switch_si.png);
}

.form-switch .form-check-input:not(:checked) {
  background-position: left center;
  background-image: url(/img/switch_uk.png);
}

.form-check-input:checked {
  background-color: #0333;
  border-color: #fff;
}

.form-check-input:not(:checked) {
  background-color: #0333;
  border-color: #fff;
}

.form-check-input:focus {
  border-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td {
  border: 1px solid #888; /* Gray border color */
  padding: 8px;
  text-align: center;
}

.table tbody tr:nth-child(odd) {
  background-color: #333 !important; /* Transparent background for odd rows */
}

.table tbody tr:nth-child(even) {
  background-color: #333 !important; /* Transparent background for even rows */
}
